<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>

<script type="text/javascript">
    $(function () {

        $(document.body).on('click', '.changeType', function () {
            $(this).closest('.phone-input').find('.type-text').text($(this).text());
            $(this).closest('.phone-input').find('.type-input').val($(this).data('type-value'));
        });

        $(document.body).on('click', '.btn-remove-phone', function () {
            $(this).closest('.phone-input').remove();
        });

        $('.btn-add-phone').click(function () {

            var index = $('.phone-input').length + 1;

            $('.phone-list').append('' +
                '<div class="input-group phone-input">' +
                '<span class="input-group-btn">' +
                '<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="type-text">Type</span> <span class="caret"></span></button>' +
                '<ul class="dropdown-menu" role="menu">' +
                '<li><a class="changeType" href="javascript:;" data-type-value="Work">Work</a></li>' +
                '<li><a class="changeType" href="javascript:;" data-type-value="Home">Home</a></li>' +
                '<li><a class="changeType" href="javascript:;" data-type-value="Mobile">Mobile</a></li>' +
                '</ul>' +
                '</span>' +
                '<input type="text" name="phone[' + index + '][number]" class="form-control" placeholder="+1 (999) 999 9999" />' +
                '<input type="hidden" name="phone[' + index + '][type]" class="type-input" value="" />' +
                '<span class="input-group-btn">' +
                '<button class="btn btn-danger btn-remove-phone" type="button"><span class="glyphicon glyphicon-remove"></span></button>' +
                '</span>' +
                '</div>'
            );

        });

    });

    function savedata() {
        var forename = document.getElementById("forename").value;
        var surname = document.getElementById("surname").value;
        // var gender;
        if (document.getElementById('male').checked) {
            gender = "male";
        }
        else {
            gender = "female";
        }
        var dob = document.getElementById("dob").value;
        var gender = document.querySelector('input[name = gender]:checked').value;

        //alert(gender);
        //$("#myform").submit(function () {
        var sendInfo = '{"firstname":"' + fname + '","lastname":"' + lname + '","password":"' + pwd + '","email":"' + email + '","company":"' + company + '"}';
       // var formjson = $('#myform').serializeArray();
        var formxml = json2xml(sendInfo);
        $.post("/api/values", { 'data': formxml }, function (data) {
            // callback logic
        });
        //   return false;
        //});
    }
        // var selectedOption = document.querySelector('input[name = gender]:checked').value;
        // var male = document.getElementById("male").selecyte;
        // var female = document.getElementByid("female").value;
        //  var dob = document.getElementById("dob").value;
        //  var telephone = document.getElementById("surname").value;
       // alert(selectedOption);
    }
</script>
<div class="jumbotron">
    <h2>Enter Patient Data</h2>
    <br />
    <div class="container">
        <form id="patient" name="patient" class="form-horizontal" style="max-width:450px;">
            <div class="form-group">
                <label class="col-sm-2 control-label">ForeName</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="forename" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Surname</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="surname" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-10">
                    <input type="radio" id="male" name="gender" checked><label>Male</label> &nbsp;<input type="radio" name="gender"  id="female"><label>Female</label>
                   
                   


                  
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">DateOfBirth</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="dd-mm-yyyy" id="dob">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">

                    <div class="phone-list">

                        <div class="input-group phone-input">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="type-text">Type</span> <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="changeType" href="javascript:;" data-type-value="Home">Home</a></li>
                                    <li><a class="changeType" href="javascript:;" data-type-value="Work">Work</a></li>
                                    <li><a class="changeType" href="javascript:;" data-type-value="Mobile">Mobile</a></li>
                                </ul>
                            </span>
                            <input type="hidden" name="phone[1][type]" class="type-input" value="" />
                            <input type="text" name="phone[1][number]" class="form-control" placeholder="+1 (999) 999 9999" />
                        </div>

                    </div>


                    <button type="button" class="btn btn-success btn-sm btn-add-phone"><span class="glyphicon glyphicon-plus"></span> Add Phone</button>
                </div>

            </div>

           <button onclick="savedata()">Save Data</button>

        </form>
    </div>

</div>

