<script src="Scripts/jquery-2.1.1.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
   // $("$#patient").hide();
    var uri = 'api/patient';
    $(document).ready(function () {
        $.getJSON(uri)
            .done(function (data) {
                //  $("$#patient").show();
                $.each(data, function (key, item) {
                    $('#patient').append("<tr><td>" + item.ForeName + "</td>" + "<td>" + item.Surname + "</td>" + "<td>" + item.DateOfBirth + "</td>" + "<td>" + item.Gender + "</td></tr>");
                });
            });
    });
    //var uri = 'api/values';
    //function getdata() {
    //    $.getJSON(uri)
    //        .done(function (data) {
    //          //  $("$#patient").show();
    //            $.each(data, function (key, item) {
    //                $('#patient').append("<tr><td>" + item.ForeName + "</td>" + "<td>" + item.Surname + "</td>" + "<td>" + item.DateOfBirth + "</td>" + "<td>" + item.Gender + "</td></tr>");
    //            });
    //        });
    //}
</script>


<div class="jumbotron">
    <div class="container">
        <h3>Enter Patient Details</h3>
        <form id="form1" method="post" action="api/patient/Patient"
              enctype="application/x-www-form-urlencoded" class="form-horizontal" style="max-width:450px;">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="foreName">Forename:</label>
                <div class="col-sm-10">
                    <input class="form-control" name="foreName" type="text" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="surname">Surname:</label>
                <div class="col-sm-10">
                    <input class="form-control" name="surname" type="text" required />
                </div>
            </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="gender">Gender:</label>
                    <div class="col-sm-10">
                        @Html.RadioButton("Gender", "Male")<span>Male</span>
                        @Html.RadioButton("Gender", "Female") <span>Female</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="dateOfBirth">DateofBirth:</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="dateOfBirth" type="text" placeholder="dd-mm-yyyy" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="telephoneNumber">Telephone Numbers</label>
                </div>

                <div class="form-group">
                    <lable class="col-sm-2 control-label" for="home">Home:</lable>
                    <div class="col-sm-10">
                        <input class="form-control" name="home" type="text" />
               
                    </div>    
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="work">Work:</label>

                    <div class="col-sm-10">
                        <input class="form-control" name="work" type="text" />
                        </div>
                    </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="mobile">Mobile:</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="mobile" type="text" />
                        </div>
                    </div>


                    <div>
                        <input type="submit" value="Submit" />
                    </div>
</form>
        </div>

        <div class="container">

            <div>
                <h3>Available Patient Details</h3>
                @*<input type="button" value="View" onclick="getdata();" />*@
            </div>
            <div>
                <table id="patient" cellpadding="2" cellspacing="2" border="1" width="400px">
                    <tr>
                        <td style="background-color: gray; color: white">Forename</td>
                        <td style="background-color: gray; color: white">Surname</td>
                        <td style="background-color: gray; color: white">DateOfBirth</td>
                        <td style="background-color: gray; color:white">Gender</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
